.theme-pf {
  --color-main-header: #4c3a63; // nav-top
  --color-main-contents: #6e627d; // nav-left
  --color-highlight: #f24878; // highlight text
  --color-main-background: #FFF;  // contents background
  --color-sub-header: #fcbcce;  // alert header
  --color-sub-contents: #ffe5ec; // alert contents background
  --color-font: #222; // font color in main background
  --color-font-reverse: #FFF; // font color in theme color
}

.theme-mw {
  --color-main-header: #152133;
  --color-main-contents: #a3aacc;
  --color-highlight: #cfcfe6;
  --color-main-background: #FFF;
  --color-sub-header: #cfcfe6;
  --color-sub-contents: #ece6f2;
  --color-font: #222;
  --color-font-reverse: #FFF;
}
